#contacts .section-container {
  max-width: 800px;

  #contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px 0 0;

    input,
    textarea {
      display: block;
      color: white;
      background: rgba(40, 40, 50, 1);
      width: 100%;
      font: inherit;
      font-size: 17.5px;
      padding: 12px 18px;
      border: none;
      border-radius: 2px;
      outline: none;
      margin-bottom: 7.5px;

      &::placeholder {
        color: rgba(200, 200, 200, 1);
      }
    }

    textarea {
      height: 150px;
      resize: vertical;
    }

    .contact-submit {
      font-size: 18px;
      align-self: flex-end;
      line-height: inherit;
      width: fit-content;
      padding: 12px 24px;
      margin-top: 12px;
    }
  }
}

@media (max-width: 750px) {
  #contacts .section-container {
    #contact-form {
      margin-top: 12px;

      input,
      textarea {
        font-size: 16px;
        padding: 10px 15px;
        margin-bottom: 6px;
      }

      textarea {
        height: 120px;
      }

      .contact-submit {
        font-size: 16px;
        padding: 10px 20px;
        margin-top: 10px;
      }
    }
  }
}
