nav {
  // Vendor prefixes 'display'
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  // Vendor prefixes 'justify-content'
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.75);
  list-style: none;
  z-index: 15;
  height: 50px;
  width: 100%;
  padding: 0;
  margin: 0;

  .nav-content {
    position: relative;

    .nav-links {
      // Vendor prefixes 'display'
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      list-style: none;
      padding: 0;
      margin: 0;

      &.content-hidden {
        position: absolute;
        top: 100%;
        right: 0;
        display: none;

        // Vendor prefixes 'flex-direction'
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

        background-color: rgba(0, 0, 0, 0.75);

        &.show {
          // Vendor prefixes 'display'
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
        }
      }

      li {
        padding: 0;
        margin: 0;
      }
    }

    .nav-show-more {
      display: none;

      // Vendor prefixes 'align-items'
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      color: white;
      font-size: 30px;
      text-decoration: none;
      height: 100%;
      padding: 0 25px;

      &:hover {
        color: white;
        text-decoration: none;
      }
    }
  }
}
