#skills .section-container {
  .skills-content {
    display: flex;
    padding-top: 2px;
  }

  .skills-column {
    display: flex;
    flex-direction: column;
    color: rgba(235, 235, 235, 1);
    background: rgba(10, 10, 10, 0.9);
    padding: 30px 10px 0;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0 rgba(65, 65, 65, 0.5),
      -1px -1px 3px 0 rgba(65, 65, 65, 0.25);

    &.frameworks,
    &.langs {
      flex: 2;
    }

    &.frameworks {
      margin: 0 calc(5px + 2.5%);
    }

    &.tools {
      flex: 3;
    }

    &.tools .skills-list {
      display: inline-grid;
      grid-template-columns: 1fr 1fr;
    }

    &:not(.tools) .skills-list li {
      height: 22.5%;
    }
  }

  .skills-header {
    text-align: center;
    width: 100%;
    padding: 0 10px 20px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.8);

    i {
      color: rgba(70, 140, 255, 1);
      font-size: 50px;
      text-shadow: 1px 1px 8px rgba(35, 70, 150, 0.8);
    }

    h3 {
      color: white;
      font-size: 26px;
      margin-top: 25px;
    }

    p {
      font-size: 14px;
      line-height: 170%;
      margin: 20px 0 0;
    }
  }

  .skills-list {
    flex-grow: 1;
    list-style: none;
    font-size: 18px;
    width: 100%;
    padding: 25px 0;
    margin: 0;

    li {
      text-align: center;
      padding: 4px 5px;
    }
  }
}

@media (max-width: 900px) {
  #skills .section-container {
    .skills-column {
      padding: 25px 8px 0;

      &.frameworks {
        margin: 0 calc(2.5px + 2.5%);
      }
    }

    .skills-header {
      padding: 0 7px 15px;

      i {
        font-size: 45px;
      }

      h3 {
        font-size: 22px;
        margin-top: 20px;
      }

      p {
        font-size: 11px;
        margin: 14px 0 0;
      }
    }

    .skills-list {
      font-size: 14px;
      padding: 18px 0;

      li {
        padding: 3px 4px;
      }
    }
  }
}
