.calendar .day-tooltip {
  position: absolute;
  display: none;
  text-align: center;
  white-space: nowrap;
  color: #959da5;
  font-size: 12px;
  background: rgba(0, 0, 0, .85);
  padding: 10px;
  border-radius: 3px;
  z-index: 99999;
  pointer-events: none;

  strong {
    color: #dfe2e5;
  }

  &.is-visible {
    display: block;
  }

  &::after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    height: 5px;
    width: 5px;
    box-sizing: border-box;
    border: 5px solid transparent;
    border-top-color: rgba(0, 0, 0, .85);
    margin: 0 0 0 -5px;
    content: " ";
  }
}
