#banner {
  position: relative;
  top: 0;
  height: 100vh;
  min-height: 630px;
  width: 100%;
  z-index: 5;

  .banner-image, .banner-content {
    position: absolute;
    top: 0;
    height: 100vh;
    min-height: 630px;
    width: 100%;
  }

  .banner-image {
    background-image: linear-gradient(to bottom, transparent 45%, black 100%), url("../../images/background/keyboard.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
  }

  .banner-content {
    display: flex;

    .banner-title {
      width: 600px;
      padding: 0;
      margin: 140px 80px 0 50px;

      h1 {
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 52px;
        margin: 0 0 16px;
      }

      h2 {
        color: rgba(200, 200, 200, 1);
        font-size: 24px;
        line-height: 1.35;
        max-width: 650px;
        margin: 0;
      }

      a {
        max-width: 240px;
        margin: 32px 5px 0;
      }
    }

    .banner-code-container {
      background-color: rgba(0, 0, 0, 0.75);
      z-index: 8;
      height: fit-content;
      max-height: calc(100% - 200px);
      width: 500px;
      padding: 2px 5px;
      margin: 100px 0 0;
      overflow: scroll;
    }
  }
}
