#banner {
  position: relative;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 5;

  .banner-image, .banner-title, .banner-code-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .banner-image {
    background-image: linear-gradient(to bottom, transparent, rgba(20, 20, 20, 0.1), rgba(20, 20, 20, 1)),
                                      url('../../images/keyboard-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
  }

  .banner-title {
    padding: 180px 0 0 50px;

    h1 {
      display: flex;
      flex-direction: column;
      color: white;
      font-size: 58px;
      margin: 0 0 20px;
    }

    h2 {
      color: rgba(200, 200, 200, 1);
      font-size: 28px;
      max-width: 650px;
    }
  }

  .banner-code-container {
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 8;
    height: fit-content;
    max-height: calc(100vh - 200px);
    width: 550px;
    padding: 2px 5px;
    margin: 100px 20px 0 750px;
    overflow-y: scroll;

    p {
      font-size: 13px;
      width: fit-content;
      padding: 0;
      margin: 8px 5px;

      span {
        padding-right: 2.5px;
      }

      &:last-child {
        border-right: 1px solid white;
      }

      .color1 {
        color: white;
      }

      .color2 {
        color: rgba(140, 220, 254, 1);
      }

      .color3 {
        color: rgba(70, 70, 225, 1);
      }

      .color4 {
        color: rgba(78, 188, 124, 1);
      }

      .color5 {
        color: rgba(94, 138, 53, 1);
      }

      .color6 {
        color: rgba(220, 220, 139, 1);
      }

      .color7 {
        color: rgba(216, 128, 92, 1);
      }

      .color8 {
        color: rgba(147, 206, 168, 1);
      }
    }

    // Scrollbar width
    &::-webkit-scrollbar {
      width: 10px;
    }

    // Scrollbar handle
    &::-webkit-scrollbar-thumb {
      background-color: rgba(80, 80, 80, 1);
      border-radius: 5px;

      &:hover {
        background-color: rgba(110, 110, 110, 1);
      }
    }
  }
}
