#banner > .banner-content > .banner-code-container {
  p {
    white-space: nowrap;
    color: rgba(94, 138, 53, 1);
    font-size: 12px;

    // Vendor prefixes 'width'
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    padding: 0;
    margin: 8px 5px;

    span {
      padding-right: 2.5px;
    }

    &:last-child {
      border-right: 1px solid white;
    }

    .color1 {
      color: white;

      &.blink-caret {
        padding-right: 6px;
      }
    }

    .color2 {
      color: rgba(140, 220, 254, 1);
    }

    .color3 {
      color: rgba(30, 100, 200, 1);
    }

    .color4 {
      color: rgba(78, 188, 124, 1);
    }

    .color5 {
      color: rgba(220, 220, 139, 1);
    }

    .color6 {
      color: rgba(216, 128, 92, 1);
    }
  }
}

// Vendor prefixes '@keyframes'
@-webkit-keyframes blink-caret {
  from, to { border-color: white }
  50%      { border-color: transparent }
}

@keyframes blink-caret {
  from, to { border-color: white }
  50%      { border-color: transparent }
}
