.btn-1 {
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  line-height: 50px;
  width: 100%;
  max-width: 240px;
  border: 1px solid;
  border-radius: 2px;
  margin: 20px 5px 0;
  overflow: hidden;

  &:hover {
    text-decoration: none;
  }
}
