.btn-nav {
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  line-height: 50px;
  width: 100%;
  border: 1px solid;
  border-radius: 2px;
  overflow: hidden;

  &:after {
    position: absolute;
    top: -50px;
    left: -75px;
    background: #fff;
    opacity: .2;
    height: 155px;
    width: 50px;
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
    -webkit-transition: all 650ms cubic-bezier(0.2, 1, 0.2, 1);
    -o-transition: all 650ms cubic-bezier(0.2, 1, 0.2, 1);
    transition: all 650ms cubic-bezier(0.2, 1, 0.2, 1);
    content: "";
  }

  &:hover {
    text-decoration: none;

    &:after {
      left: 120%;
      -webkit-transition: all 650ms cubic-bezier(0.2, 1, 0.2, 1);
      -o-transition: all 650ms cubic-bezier(0.2, 1, 0.2, 1);
      transition: all 650ms cubic-bezier(0.2, 1, 0.2, 1);
    }
  }
}

.btn-modal {
	position: relative;
  display: block;
	color: white;
	font-size: 18px;
  align-self: center;
	text-align: center;
	text-decoration: none;
	letter-spacing: .06em;
  height: 100%;
  width: 140px;
	padding: 12px 15px;
	margin: 0;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	overflow: hidden;

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #13538f;
    z-index: -1;
    height: 0;
    width: 200%;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    -webkit-transition: all .75s ease 0s;
    -o-transition: all .75s ease 0s;
    transition: all .75s ease 0s;
    content: "";
  }

  &:hover {
    color: white;
    text-shadow: none;

    &:after {
      height: 300%;
    }
  }
}
