.carousel {
  position: relative;

  ol.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    z-index: 15;
    padding-left: 0;
    margin-top: 0 15% 1rem;

    li {
      position: relative;
      bottom: 0;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      text-indent: -999px;
      background-color: rgba(255, 255, 255, .5);
      height: 3px;
      width: 30px;
      margin-right: 3px;
      margin-left: 3px;
      transition: bottom 0.1s linear;
      cursor: pointer;

      &.active, &:hover {
        background-color: #fff;
      }

      &.active {
        bottom: 2px;
      }
    }
  }

  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;

    .carousel-item {
      position: relative;
      display: none;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;

      &.active {
        display: block;
      }

      img {
        display: block;
        width: 100%;
        border-style: none;
      }

      .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 20px;
        left: 15%;
        text-align: center;
        color: #fff;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }

  .carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    text-align: center;
    justify-content: center;
    color: #fff;
    opacity: .5;
    width: 15%;
    cursor: pointer;

    &:hover {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: .9;
    }

    span {
      display: inline-block;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
      height: 20px;
      width: 20px;
    }
  }

  .carousel-control-prev {
    left: 0;

    .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
  }

  .carousel-control-next {
    right: 0;

    .carousel-control-next-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
  }
}
