.carousel {
  position: relative;

  ol.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    // Vendor prefixes 'display'
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    // Vendor prefixes 'justify-content'
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    list-style: none;
    z-index: 15;
    padding: 0;
    margin: 10px 0;

    li {
      position: relative;
      bottom: 0;

      // Vendor prefixes 'flex'
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;

      background-color: rgba(255, 255, 255, .5);
      height: 23px; // 10px border 2 times, plus 3px for the 'true' height of the element
      width: 30px;
      background-clip: padding-box; // Background-color only applied to the 'padding-box'
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      margin-right: 3px;
      margin-left: 3px;

      // Vendor prefixes 'transition'
      -webkit-transition: border 0.1s linear;
      -o-transition: border 0.1s linear;
      transition: border 0.1s linear;

      cursor: pointer;

      &.active, &:hover {
        background-color: #fff;
      }

      &.active {
        border-top: 8px solid transparent;
        border-bottom: 12px solid transparent;
      }
    }
  }

  .carousel-inner {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .carousel-item {
      position: absolute;
      top: 0;
      display: block;

      // Vendor prefixes 'align-items'
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      height: 100%;
      width: 100%;

      // Vendor prefixes 'transition'
      -webkit-transition: -webkit-transform 0.25s linear;
      transition: -webkit-transform 0.25s linear;
      -o-transition: transform 0.25s linear;
      transition: transform 0.25s linear;
      transition: transform 0.25s linear, -webkit-transform 0.25s linear;

      img {
        display: block;
        height: 100%;
        width: 100%;
        border-style: none;
      }

      .carousel-caption {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        color: #fff;
        background: rgba(0, 0, 0, 0.65);
        z-index: 10;
        padding: 15px 15% 45px;

        h5 {
          color: white;
          font-size: 16px;
          font-weight: 400;

          span {
            margin: 0 2px;
          }
        }
      }
    }
  }

  .carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;

    // Vendor prefixes 'display'
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    // Vendor prefixes 'align-items'
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    // Vendor prefixes 'justify-content'
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    text-align: center;
    color: white;
    opacity: .5;
    width: 15%;
    cursor: pointer;

    &:hover {
      color: white;
      text-decoration: none;
      opacity: .9;
      outline: 0;
    }

    span {
      display: inline-block;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
      height: 20px;
      width: 20px;
    }
  }

  .carousel-control-prev {
    left: 0;

    .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
  }

  .carousel-control-next {
    right: 0;

    .carousel-control-next-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
  }
}
