#contacts {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 120px;

  h2 {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0px 20px;
    white-space: nowrap;

    &::after {
      position: relative;
      top: 2px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: rgba(80, 80, 80, 0.5);
      margin: 0 5px 0 10px;
      content: "";
    }
  }

  p {
    color: rgba(220, 220, 220, 1);
    margin: 0;
  }

  #contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;

    input, textarea {
      display: block;
      color: white;
      background: rgba(40, 40, 50, 1);
      width: 100%;
      font: inherit;
      font-size: 14px;
      padding: 10px 15px;
      border: none;
      border-radius: 1px;
      outline: none;
      margin-bottom: 5px;

      &::placeholder {
        color: rgba(200, 200, 200, 1);
      }
    }

    textarea {
      height: 150px;
      resize: vertical;
    }

    .contact-submit {
      align-self: flex-end;
      line-height: inherit;
      width: fit-content;
      padding: 10px 20px;
      margin-top: 8px;
    }
  }
}
