#curriculum {
  padding-bottom: 40px;

  .curriculum-content {
    background-color: rgba(0, 0, 0, 0.75);

    // Vendor prefixes 'width'
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    max-width: 920px;
    padding: 20px 30px 15px 110px;
    border-radius: 5px;
    margin: 20px auto 0;

    .cv-element {
      position: relative;
      padding-bottom: 20px;
      border-left: 3px solid white;
      margin-bottom: 40px;

      &.level-one {
        padding-bottom: 40px;
      }

      &.level-two {
        margin: 45px 0 0 95px;

        &.no-content {
          padding: 0;
          border: none;

          .cv-date-bot, .cv-date-top {
            left: -190px;
          }
        }

        .cv-date-bot, .cv-date-top {
          left: -193px;
        }
      }

      &.no-cv-text {
        margin-bottom: 60px;
      }

      .cv-date-bot, .cv-date-top {
        position: absolute;
        left: -95px;
        color: gainsboro;
        font-size: 13px;
      }

      .cv-date-top {
        top: 21px;
      }

      .cv-date-bot {
        bottom: 10px;
      }

      .cv-logo {
        position: absolute;
        left: -34px;
        height: 65px;
        width: 65px;
        border-radius: 50%;
      }

      .cv-header-titles {
        padding: 7px 0 8px 42px;
        margin: 10px 0 0;

        h5 {
          font-size: 21px;
        }

        h6 {
          text-indent: 2px;
          font-size: 17px;
          font-weight: 400;
          margin-top: 5px;
        }
      }

      .cv-element-content {
        padding: 3px 0 0 60px;

        p {
          text-align: justify;
          color: white;
          font-size: 15px;
          margin: 5px 0 10px;

          span {
            margin-left: 5px;
          }

          .cv-icon {
            color: rgba(240, 240, 240, 1);
          }

          .fa-star, .fa-cog {
            font-size: 18px;
          }

          .fa-star {
            color: yellow;

            // Vendor prefixes 'animation'
            -webkit-animation: blink 2s infinite;
                    animation: blink 2s infinite;
          }

          .fa-cog {
            // Vendor prefixes 'animation'
            -webkit-animation: rotate 3s linear infinite;
                    animation: rotate 3s linear infinite;
          }
        }
      }
    }

    .cv-text {
      text-align: center;
      margin-left: -70px;
      margin-bottom: 45px;

      p {
        color: gainsboro;
        font-size: 16px;
        line-height: 1.8;
        margin: 5px 0;
      }
    }
  }
}

// Vendor prefixes '@keyframes'
@-webkit-keyframes blink {
  0%   { text-shadow: none; }
  50%  { text-shadow: 0px 0px 16px rgba(255, 200, 0, 1); }
  100% { text-shadow: none; }
}

@keyframes blink {
  0%   { text-shadow: none; }
  50%  { text-shadow: 0px 0px 16px rgba(255, 200, 0, 1); }
  100% { text-shadow: none; }
}

// Vendor prefixes '@keyframes'
@-webkit-keyframes rotate {
  0% {
    // Vendor prefixes 'transform'
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  100% {
    // Vendor prefixes 'transform'
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    // Vendor prefixes 'transform'
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  100% {
    // Vendor prefixes 'transform'
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media(max-width: 800px) {
  #curriculum .curriculum-content {
    padding-left: 100px;

    .cv-element {
      padding-bottom: 16px;
      border-left-width: 2px;

      &.level-one {
        padding-bottom: 35px;
      }

      &.level-two {
        margin: 40px 0 0 85px;

        &.no-content {
          .cv-date-bot, .cv-date-top {
            left: -170px;
          }
        }

        .cv-date-bot, .cv-date-top {
          left: -172px;
        }
      }

      &.no-cv-text {
        margin-bottom: 50px;
      }

      .cv-date-bot, .cv-date-top {
        left: -85px;
        font-size: 12px;
      }

      .cv-date-top {
        top: 17px;
      }

      .cv-logo {
        left: -28.5px;
        height: 55px;
        width: 55px;
      }

      .cv-header-titles {
        padding: 5px 0 5.5px 37px;

        h5 {
          font-size: 19px;
        }

        h6 {
          font-size: 15px;
          margin-top: 4px;
        }
      }

      .cv-element-content {
        padding-left: 50px;

        p {
          font-size: 13.5px;
          margin: 4px 0 8px;

          .fa-star, .fa-cog {
            font-size: 16px;
          }
        }
      }
    }

    .cv-text {
      margin-left: -60px;

      p {
        font-size: 14.5px;
        margin: 4px 0;
      }
    }
  }
}
