footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  // Vendor prefixes 'display'
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  // Vendor prefixes 'align-items'
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  // Vendor prefixes 'justify-content'
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.75);
  height: 100px;
  width: 100%;
  padding: 10px 0;
  margin: 0;

  .contact-links {
    // Vendor prefixes 'display'
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    // Vendor prefixes 'justify-content'
    -ms-flex-pack: distribute;
    justify-content: space-around;

    list-style: none;
    width: 250px;
    padding: 0;
    margin: 0;

    a {
      position: relative;
      display: block;
      text-decoration: none;
      background: white;
      height: 50px;
      width: 50px;
      border-radius: 50%;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        background-color: inherit;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        transition: 0.1s;
        content: "";
      }

      &.expand-background::before {
        top: -6%;
        left: -6%;
        height: 112%;
        width: 112%;
      }

      img {
        position: absolute;
        top: 15%;
        left: 15%;
        height: 70%;
        width: 70%;
        margin: 0;
      }
    }
  }

  .footer-copyrights {
    margin: 0 0 0 30px;
  }
}
