.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.75);
  height: 100px;
  width: 100%;
  padding: 10px 0;
  margin: 0;

  .contact-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 250px;
    padding: 0;
    margin: 0;

    a {
      position: relative;
      display: block;
      text-decoration: none;
      background: white;
      height: 50px;
      width: 50px;
      border-radius: 50%;

      &::before {
        position: absolute;
        top: 5%;
        left: 5%;
        opacity: 0.75;
        height: 90%;
        width: 90%;
        border: 1px solid white;
        border-radius: 50%;
        content: "";
      }

      &.splash-animation::before {
        animation: splash 0.4s ease;
      }

      img {
        position: absolute;
        top: 15%;
        left: 15%;
        height: 70%;
        width: 70%;
        margin: 0;
      }
    }
  }

  .footer-copyrights {
    margin: 0 0 0 30px;
  }
}

@keyframes splash {
  from {
    opacity: 0.75;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(1.6);
  }
}
