#modal-contributions {
  .calendar {
    background: black;
    height: fit-content;
    width: 100%;
    margin: 0;

    .position-relative {
      padding: 5px 10px;
    }

    .contrib-number {
      color: rgba(220, 220, 220, 1);
      margin: 5px 0;
    }
  }
}
