/* Import the SCSS components here */
#banner > .banner-content > .banner-code-container p {
  white-space: nowrap;
  color: #5e8a35;
  font-size: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  margin: 8px 5px; }
  #banner > .banner-content > .banner-code-container p span {
    padding-right: 2.5px; }
  #banner > .banner-content > .banner-code-container p:last-child {
    border-right: 1px solid white; }
  #banner > .banner-content > .banner-code-container p .color1 {
    color: white; }
    #banner > .banner-content > .banner-code-container p .color1.blink-caret {
      padding-right: 6px; }
  #banner > .banner-content > .banner-code-container p .color2 {
    color: #8cdcfe; }
  #banner > .banner-content > .banner-code-container p .color3 {
    color: #1e64c8; }
  #banner > .banner-content > .banner-code-container p .color4 {
    color: #4ebc7c; }
  #banner > .banner-content > .banner-code-container p .color5 {
    color: #dcdc8b; }
  #banner > .banner-content > .banner-code-container p .color6 {
    color: #d8805c; }

@-webkit-keyframes blink-caret {
  from, to {
    border-color: white; }
  50% {
    border-color: transparent; } }
@keyframes blink-caret {
  from, to {
    border-color: white; }
  50% {
    border-color: transparent; } }
#banner {
  position: relative;
  height: 100vh;
  max-height: 750px;
  min-height: 630px;
  width: 100%;
  z-index: 5; }
  #banner .banner-image, #banner .banner-content {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    height: 100vh;
    max-height: 750px;
    min-height: 630px;
    width: 100%; }
  #banner .banner-image {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(45%, transparent), to(black)), url("../../images/background/keyboard.png");
    background-image: -o-linear-gradient(top, transparent 45%, black 100%), url("../../images/background/keyboard.png");
    background-image: linear-gradient(to bottom, transparent 45%, black 100%), url("../../images/background/keyboard.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5; }
  #banner .banner-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    #banner .banner-content .banner-text {
      max-width: 650px;
      padding: 0;
      margin: 150px 75px 0 5%; }
      #banner .banner-content .banner-text h1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        color: white;
        font-size: 62px;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
        margin: 0 0 16px; }
      #banner .banner-content .banner-text p {
        color: #c8c8c8;
        font-size: 28px;
        font-weight: 500;
        line-height: 1.35;
        text-shadow: 1px 1px 5px black;
        margin: 0; }
      #banner .banner-content .banner-text .btn-modal {
        font-size: 20px;
        max-width: 300px;
        padding: 2px 0;
        margin: 32px 5px 0; }
    #banner .banner-content .banner-code-container {
      background-color: rgba(0, 0, 0, 0.75);
      z-index: 8;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      max-height: calc(100% - 200px);
      width: 500px;
      min-width: 250px;
      padding: 2px 5px;
      margin: 100px 5% 0 0;
      overflow: scroll; }

@media (max-width: 1500px) {
  #banner .banner-content .banner-text {
    max-width: 600px; }
    #banner .banner-content .banner-text h1 {
      font-size: 52px; }
    #banner .banner-content .banner-text p {
      font-size: 24px; }
    #banner .banner-content .banner-text .btn-modal {
      font-size: 16px;
      max-width: 240px;
      padding: 0; }
  #banner .banner-content .banner-code-container {
    width: 480px; }
    #banner .banner-content .banner-code-container p {
      font-size: 11.5px; } }
@media (max-width: 1300px) {
  #banner .banner-content .banner-text {
    max-width: 475px; }
    #banner .banner-content .banner-text h1 {
      font-size: 46px;
      margin-bottom: 12px; }
    #banner .banner-content .banner-text p {
      font-size: 20px; }
    #banner .banner-content .banner-text .btn-modal {
      font-size: 15px;
      max-width: 220px;
      margin-top: 24px; }
  #banner .banner-content .banner-code-container {
    width: 450px; }
    #banner .banner-content .banner-code-container p {
      font-size: 10.5px; } }
@media (max-width: 1125px) {
  #banner .banner-content .banner-code-container p {
    font-size: 10px; } }
@media (max-width: 950px) {
  #banner .banner-content .banner-text {
    max-width: 600px;
    margin-right: 0; }
    #banner .banner-content .banner-text h1 {
      font-size: 52px;
      margin-bottom: 16px; }
    #banner .banner-content .banner-text p {
      font-size: 23.5px; }
    #banner .banner-content .banner-text .btn-modal {
      font-size: 16px;
      max-width: 240px;
      margin-top: 32px; }
  #banner .banner-content .banner-code-container {
    display: none; } }
.btn-nav {
  position: relative;
  display: block;
  color: white;
  font-size: 18px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
  text-decoration: none;
  letter-spacing: .06em;
  height: 100%;
  width: 150px;
  padding: 12px 15px;
  margin: 0;
  -webkit-transition: background .25s ease-out;
  -o-transition: background .25s ease-out;
  transition: background .25s ease-out;
  overflow: hidden; }
  .btn-nav:hover, .btn-nav.active {
    color: white;
    background: #13538f; }

.btn-modal {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  line-height: 50px;
  width: 100%;
  border: 1px solid;
  border-radius: 2px;
  overflow: hidden; }
  .btn-modal:after {
    position: absolute;
    top: -50px;
    left: -75px;
    background: #fff;
    opacity: .2;
    height: 155px;
    width: 50px;
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
    -webkit-transition: all 650ms cubic-bezier(0.2, 1, 0.2, 1);
    -o-transition: all 650ms cubic-bezier(0.2, 1, 0.2, 1);
    transition: all 650ms cubic-bezier(0.2, 1, 0.2, 1);
    content: ""; }
  .btn-modal:hover {
    text-decoration: none; }
    .btn-modal:hover:after {
      left: 120%;
      -webkit-transition: all 650ms cubic-bezier(0.2, 1, 0.2, 1);
      -o-transition: all 650ms cubic-bezier(0.2, 1, 0.2, 1);
      transition: all 650ms cubic-bezier(0.2, 1, 0.2, 1); }

.carousel {
  position: relative; }
  .carousel ol.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    z-index: 15;
    padding: 0;
    margin: 10px 0; }
    .carousel ol.carousel-indicators li {
      position: relative;
      bottom: 0;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      background-color: rgba(255, 255, 255, 0.5);
      height: 23px;
      width: 30px;
      background-clip: padding-box;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      margin-right: 3px;
      margin-left: 3px;
      -webkit-transition: border 0.1s linear;
      -o-transition: border 0.1s linear;
      transition: border 0.1s linear;
      cursor: pointer; }
      .carousel ol.carousel-indicators li.active, .carousel ol.carousel-indicators li:hover {
        background-color: #fff; }
      .carousel ol.carousel-indicators li.active {
        border-top: 8px solid transparent;
        border-bottom: 12px solid transparent; }
  .carousel .carousel-inner {
    position: relative;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 5px;
    overflow: hidden; }
    .carousel .carousel-inner .carousel-item {
      position: absolute;
      top: 0;
      display: block;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%;
      width: 100%;
      margin: 0;
      -webkit-transition: -webkit-transform 0.25s linear;
      transition: -webkit-transform 0.25s linear;
      -o-transition: transform 0.25s linear;
      transition: transform 0.25s linear;
      transition: transform 0.25s linear, -webkit-transform 0.25s linear; }
      .carousel .carousel-inner .carousel-item img {
        display: block;
        height: 100%;
        width: 100%;
        border-style: none; }
      .carousel .carousel-inner .carousel-item .carousel-caption {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        color: white;
        font-size: 16px;
        font-weight: 400;
        text-shadow: 0px 0px 5px black;
        background: rgba(0, 0, 0, 0.65);
        z-index: 10;
        line-height: 1.2;
        padding: 15px 15% 45px; }
        .carousel .carousel-inner .carousel-item .carousel-caption span {
          margin: 0 4px; }
  .carousel .carousel-control-prev, .carousel .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    opacity: .5;
    width: 15%;
    cursor: pointer; }
    .carousel .carousel-control-prev.dark, .carousel .carousel-control-next.dark {
      color: black; }
    .carousel .carousel-control-prev.light, .carousel .carousel-control-next.light {
      color: white; }
    .carousel .carousel-control-prev:hover, .carousel .carousel-control-next:hover {
      text-decoration: none;
      opacity: .9;
      outline: 0; }
  .carousel .carousel-control-prev {
    left: 0; }
  .carousel .carousel-control-next {
    right: 0; }

#curriculum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 40px; }
  #curriculum .curriculum-content {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.75);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 920px;
    padding: 20px 30px 15px 110px;
    border-radius: 5px;
    margin: 0 10px; }
    #curriculum .curriculum-content .cv-element {
      position: relative;
      padding-bottom: 20px;
      border-left: 3px solid white;
      margin-bottom: 40px; }
      #curriculum .curriculum-content .cv-element.level-one {
        padding-bottom: 40px; }
      #curriculum .curriculum-content .cv-element.level-two {
        margin: 45px 0 0 95px; }
        #curriculum .curriculum-content .cv-element.level-two.no-content {
          padding: 0;
          border: none; }
          #curriculum .curriculum-content .cv-element.level-two.no-content .cv-date-bot, #curriculum .curriculum-content .cv-element.level-two.no-content .cv-date-top {
            left: -190px; }
        #curriculum .curriculum-content .cv-element.level-two .cv-date-bot, #curriculum .curriculum-content .cv-element.level-two .cv-date-top {
          left: -193px; }
      #curriculum .curriculum-content .cv-element.no-cv-text {
        margin-bottom: 60px; }
      #curriculum .curriculum-content .cv-element .cv-date-bot, #curriculum .curriculum-content .cv-element .cv-date-top {
        position: absolute;
        left: -95px;
        color: gainsboro;
        font-size: 13px; }
      #curriculum .curriculum-content .cv-element .cv-date-top {
        top: 21px; }
      #curriculum .curriculum-content .cv-element .cv-date-bot {
        bottom: 10px; }
      #curriculum .curriculum-content .cv-element .cv-logo {
        position: absolute;
        left: -34px;
        height: 65px;
        width: 65px;
        border-radius: 50%; }
      #curriculum .curriculum-content .cv-element .cv-header-titles {
        padding: 7px 0 8px 42px;
        margin: 10px 0 0; }
        #curriculum .curriculum-content .cv-element .cv-header-titles h3 {
          font-size: 21px; }
        #curriculum .curriculum-content .cv-element .cv-header-titles p {
          text-indent: 2px;
          font-size: 17px;
          font-weight: 400;
          line-height: 1.2;
          margin: 5px 0 0; }
      #curriculum .curriculum-content .cv-element .cv-element-content {
        padding: 3px 0 0 60px; }
        #curriculum .curriculum-content .cv-element .cv-element-content p {
          text-align: justify;
          color: white;
          font-size: 15px;
          line-height: 24px;
          margin: 5px 0 10px; }
          #curriculum .curriculum-content .cv-element .cv-element-content p .cv-icon {
            color: #f0f0f0;
            margin-right: 5px; }
          #curriculum .curriculum-content .cv-element .cv-element-content p .fa-star, #curriculum .curriculum-content .cv-element .cv-element-content p .fa-cog {
            font-size: 18px; }
          #curriculum .curriculum-content .cv-element .cv-element-content p .fa-star {
            color: yellow;
            -webkit-animation: blink 2s infinite;
            animation: blink 2s infinite; }
          #curriculum .curriculum-content .cv-element .cv-element-content p .fa-cog {
            -webkit-animation: rotate 3s linear infinite;
            animation: rotate 3s linear infinite; }
    #curriculum .curriculum-content .cv-text {
      text-align: center;
      margin-left: -70px;
      margin-bottom: 45px; }
      #curriculum .curriculum-content .cv-text p {
        color: gainsboro;
        font-size: 16px;
        line-height: 1.8;
        margin: 5px 0; }

@-webkit-keyframes blink {
  0% {
    text-shadow: none; }
  50% {
    text-shadow: 0px 0px 16px #ffc800; }
  100% {
    text-shadow: none; } }
@keyframes blink {
  0% {
    text-shadow: none; }
  50% {
    text-shadow: 0px 0px 16px #ffc800; }
  100% {
    text-shadow: none; } }
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@media (max-width: 800px) {
  #curriculum .curriculum-content {
    padding-left: 100px; }
    #curriculum .curriculum-content .cv-element {
      padding-bottom: 16px;
      border-left-width: 2px; }
      #curriculum .curriculum-content .cv-element.level-one {
        padding-bottom: 35px; }
      #curriculum .curriculum-content .cv-element.level-two {
        margin: 40px 0 0 85px; }
        #curriculum .curriculum-content .cv-element.level-two.no-content .cv-date-bot, #curriculum .curriculum-content .cv-element.level-two.no-content .cv-date-top {
          left: -170px; }
        #curriculum .curriculum-content .cv-element.level-two .cv-date-bot, #curriculum .curriculum-content .cv-element.level-two .cv-date-top {
          left: -172px; }
      #curriculum .curriculum-content .cv-element.no-cv-text {
        margin-bottom: 50px; }
      #curriculum .curriculum-content .cv-element .cv-date-bot, #curriculum .curriculum-content .cv-element .cv-date-top {
        left: -85px;
        font-size: 12px; }
      #curriculum .curriculum-content .cv-element .cv-date-top {
        top: 17px; }
      #curriculum .curriculum-content .cv-element .cv-logo {
        left: -28.5px;
        height: 55px;
        width: 55px; }
      #curriculum .curriculum-content .cv-element .cv-header-titles {
        padding: 5px 0 5.5px 37px; }
        #curriculum .curriculum-content .cv-element .cv-header-titles h3 {
          font-size: 19px; }
        #curriculum .curriculum-content .cv-element .cv-header-titles p {
          font-size: 15px;
          margin-top: 4px; }
      #curriculum .curriculum-content .cv-element .cv-element-content {
        padding-left: 50px; }
        #curriculum .curriculum-content .cv-element .cv-element-content p {
          font-size: 13.5px;
          line-height: 22px;
          margin: 4px 0 8px; }
          #curriculum .curriculum-content .cv-element .cv-element-content p .fa-star, #curriculum .curriculum-content .cv-element .cv-element-content p .fa-cog {
            font-size: 16px; }
    #curriculum .curriculum-content .cv-text {
      margin-left: -60px; }
      #curriculum .curriculum-content .cv-text p {
        font-size: 14px;
        margin: 4px 0; } }
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.75);
  height: 100px;
  width: 100%;
  padding: 10px 0;
  margin: 0; }
  footer .contact-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    list-style: none;
    width: 250px;
    padding: 0;
    margin: 0; }
    footer .contact-links a {
      position: relative;
      display: block;
      text-decoration: none;
      background: white;
      height: 50px;
      width: 50px;
      border-radius: 50%; }
      footer .contact-links a::before {
        position: absolute;
        top: 5%;
        left: 5%;
        opacity: 0.75;
        height: 90%;
        width: 90%;
        border: 1px solid white;
        border-radius: 50%;
        content: ""; }
      footer .contact-links a.splash-animation::before {
        -webkit-animation: splash 0.4s ease;
        animation: splash 0.4s ease; }
      footer .contact-links a img {
        position: absolute;
        top: 15%;
        left: 15%;
        height: 70%;
        width: 70%;
        margin: 0; }
  footer .footer-copyrights {
    margin: 0 0 0 30px; }

@-webkit-keyframes splash {
  from {
    opacity: 0.75;
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    opacity: 0;
    -webkit-transform: scale(1.6);
    transform: scale(1.6); } }
@keyframes splash {
  from {
    opacity: 0.75;
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    opacity: 0;
    -webkit-transform: scale(1.6);
    transform: scale(1.6); } }
:root {
  --color-calendar-graph-day-bg: rgba(240, 240, 240, 1);
  --color-calendar-graph-day-L1-bg: rgba(70, 255, 70, 1);
  --color-calendar-graph-day-L2-bg: rgba(40, 190, 40, 1);
  --color-calendar-graph-day-L3-bg: rgba(20, 140, 20, 1);
  --color-calendar-graph-day-L4-bg: rgba(0, 100, 0, 1); }

#modal-git .calendar {
  text-align: center;
  font-family: Helvetica, arial;
  background: black;
  min-height: 243px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  max-width: 900px;
  margin: 0; }
  #modal-git .calendar .no-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    width: 100%; }
    #modal-git .calendar .no-content .fa-spinner {
      font-size: 60px;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
  #modal-git .calendar .position-relative {
    padding: 5px 10px; }
  #modal-git .calendar .contrib-footer {
    text-align: left;
    font-size: 11px;
    height: 26px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px 12px; }
  #modal-git .calendar .contrib-number {
    display: block;
    color: gainsboro;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.3em;
    margin: 5px 0; }
  #modal-git .calendar .calendar-graph {
    text-align: center;
    padding: 5px 0 0; }
    #modal-git .calendar .calendar-graph text.wday, #modal-git .calendar .calendar-graph text.month {
      fill: #aaa;
      font-size: 10px; }
  #modal-git .calendar .contrib-legend {
    text-align: right;
    float: right;
    padding: 0 14px 10px 0; }
    #modal-git .calendar .contrib-legend .legend {
      position: relative;
      bottom: -1px;
      display: inline-block;
      list-style: none;
      padding: 0;
      margin: 0 5px; }
      #modal-git .calendar .contrib-legend .legend li {
        display: inline-block;
        height: 10px;
        width: 10px; }
  #modal-git .calendar .text-small {
    color: #767676;
    font-size: 12px; }
  #modal-git .calendar .contrib-column {
    text-align: center;
    font-size: 11px;
    padding: 15px 0;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd; }
  #modal-git .calendar .contrib-column-first {
    border-left: 0; }
  #modal-git .calendar .table-column {
    display: table-cell;
    vertical-align: top;
    width: 1%;
    padding-right: 10px;
    padding-left: 10px; }
  #modal-git .calendar img.spinner {
    min-height: 70px;
    width: 70px;
    margin-top: 50px; }
  #modal-git .calendar .monospace {
    text-align: center;
    color: #000;
    font-family: monospace; }
    #modal-git .calendar .monospace a {
      color: #1D75AB;
      text-decoration: none; }
  #modal-git .calendar .left.text-muted {
    float: left;
    color: #767676;
    margin-left: 9px; }
    #modal-git .calendar .left.text-muted a {
      color: #4078c0;
      text-decoration: none; }
  #modal-git .calendar .left.text-muted a:hover, #modal-git .calendar .monospace a:hover {
    text-decoration: underline; }
  #modal-git .calendar .float-left {
    float: left; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%; }

body {
  text-align: left;
  color: white;
  background-color: black;
  font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  z-index: 1;
  min-height: 100%;
  width: 100%;
  min-width: 650px;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  margin: 0; }

h1 {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  margin-block-start: 0.67em;
  -webkit-margin-after: 0.67em;
  margin-block-end: 0.67em;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px; }

h2 {
  color: gainsboro;
  font-size: 26px; }

h3 {
  font-size: 1.75rem; }

button {
  background: transparent;
  font-family: inherit;
  border: none;
  cursor: pointer; }
  button:focus {
    outline: none; }
  button:focus-visible {
    box-shadow: 0px 0px 1px 1px white; }

abbr[title] {
  text-decoration: inherit; }

code {
  font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; }

#profile-container {
  position: relative;
  width: 100%; }
  #profile-container canvas, #profile-container main {
    position: absolute; }
  #profile-container main {
    width: 100%;
    padding-bottom: 100px; }
    #profile-container main .section-title {
      color: white;
      font-size: 40px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      padding: 20px 35px 10px;
      border-bottom: 2px solid rgba(220, 220, 220, 0.5);
      margin: 0 auto 25px; }
    #profile-container main #curriculum, #profile-container main #projects, #profile-container main #technologies {
      min-height: -webkit-fit-content;
      min-height: -moz-fit-content;
      min-height: fit-content;
      width: 100%; }

.inline-anchor {
  color: #64ff5f;
  text-decoration: none; }
  .inline-anchor:hover .hover-underline {
    position: relative; }
    .inline-anchor:hover .hover-underline::after {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      border-bottom: 1px solid;
      content: ""; }
  .inline-anchor:active {
    color: lime; }

body.modal-active {
  overflow: hidden; }

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.85);
  z-index: 15;
  height: 100%;
  width: 100%;
  padding: 0; }
  .modal-container.modal-open {
    -webkit-animation: increaseOpacity 0.5s forwards;
    animation: increaseOpacity 0.5s forwards; }
    .modal-container.modal-open .modal {
      -webkit-animation: zoomIn .5s forwards;
      animation: zoomIn .5s forwards; }
    .modal-container.modal-open.modal-close {
      -webkit-animation: decreaseOpacity 0.5s forwards;
      animation: decreaseOpacity 0.5s forwards; }
      .modal-container.modal-open.modal-close .modal {
        -webkit-animation: zoomOut .5s forwards;
        animation: zoomOut .5s forwards; }
  .modal-container .modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: transparent;
    z-index: 20;
    height: 100%;
    width: 100%;
    min-width: 650px;
    padding: 5%; }
    .modal-container .modal h2 {
      color: white;
      font-size: 32px;
      margin-bottom: 22px; }

@-webkit-keyframes increaseOpacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes increaseOpacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes decreaseOpacity {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes decreaseOpacity {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-webkit-keyframes zoomIn {
  from {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@keyframes zoomIn {
  from {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  to {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes zoomOut {
  from {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); } }
@keyframes zoomOut {
  from {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); } }
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.75);
  list-style: none;
  z-index: 10;
  height: 50px;
  width: 100%;
  padding: 0;
  margin: 0; }
  nav .nav-content {
    position: relative; }
    nav .nav-content .nav-links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0; }
      nav .nav-content .nav-links.content-hidden {
        position: absolute;
        top: 100%;
        right: 0;
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.75); }
        nav .nav-content .nav-links.content-hidden.show {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
      nav .nav-content .nav-links li {
        padding: 0;
        margin: 0; }
    nav .nav-content .nav-show-more {
      display: none;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: white;
      font-size: 30px;
      text-decoration: none;
      height: 100%;
      padding: 0 25px; }
      nav .nav-content .nav-show-more:hover {
        color: white;
        text-decoration: none; }

.pill-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  border-bottom: 1px solid #dee2e6;
  margin: 0; }
  .pill-items .pill-item {
    display: block;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
    padding: .5rem 1rem;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: -1px;
    cursor: pointer; }
    .pill-items .pill-item.active {
      color: black;
      font-weight: 600;
      background-color: #fff;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }

.tab-items {
  position: relative;
  display: block;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
  border: 1px solid #dee2e6;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }
  .tab-items:after {
    content: "";
    display: block;
    padding-bottom: 50%; }
  .tab-items .tab-item {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear; }
    .tab-items .tab-item.active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .tab-items .tab-item.fade {
      opacity: 1; }

#projects {
  padding-bottom: 80px; }
  #projects .projects-content {
    max-width: 920px;
    padding: 20px 10px;
    margin: 0 auto; }
    #projects .projects-content .carousel, #projects .projects-content .single-img, #projects .projects-content .project-description {
      height: 100%;
      width: 50%; }
    #projects .projects-content .single-img {
      border-bottom-left-radius: 5px; }
    #projects .projects-content .project-description {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 10px 15px;
      overflow-y: scroll; }
      #projects .projects-content .project-description header > h3 {
        text-align: center;
        font-size: 28px; }
        #projects .projects-content .project-description header > h3 span {
          color: gainsboro;
          font-size: 0;
          font-weight: 400; }
          #projects .projects-content .project-description header > h3 span.text, #projects .projects-content .project-description header > h3 span.parenthesis, #projects .projects-content .project-description header > h3 span time {
            font-size: 18px; }
          #projects .projects-content .project-description header > h3 span.parenthesis.open {
            margin-right: 2px; }
          #projects .projects-content .project-description header > h3 span.parenthesis.close {
            margin-left: 2px; }
      #projects .projects-content .project-description h4 {
        font-size: 17px;
        margin: 15px 0 5px; }
        #projects .projects-content .project-description h4:first-of-type {
          margin-top: 10px; }
      #projects .projects-content .project-description p {
        text-align: justify;
        color: gainsboro;
        font-size: 12.5px;
        margin: 0; }
      #projects .projects-content .project-description .anchors-container {
        margin-top: 20px; }
        #projects .projects-content .project-description .anchors-container a {
          display: block;
          font-size: 15px;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content; }
          #projects .projects-content .project-description .anchors-container a i {
            margin-right: 4px; }
        #projects .projects-content .project-description .anchors-container .side-note {
          color: gainsboro;
          font-size: 0; }
          #projects .projects-content .project-description .anchors-container .side-note span.text, #projects .projects-content .project-description .anchors-container .side-note span.parenthesis {
            font-size: 11px; }
          #projects .projects-content .project-description .anchors-container .side-note span.parenthesis.open {
            margin-right: 2px; }
          #projects .projects-content .project-description .anchors-container .side-note span.parenthesis.close {
            margin-left: 2px; }

@media (max-width: 800px) {
  #projects .projects-content .project-description {
    padding: 8px 12px 15px; }
    #projects .projects-content .project-description header > h3 {
      font-size: 22px; }
      #projects .projects-content .project-description header > h3 span .text, #projects .projects-content .project-description header > h3 span .parenthesis, #projects .projects-content .project-description header > h3 span time {
        font-size: 14px; }
    #projects .projects-content .project-description h4 {
      font-size: 14px;
      margin-top: 12px; }
      #projects .projects-content .project-description h4:first-of-type {
        margin-top: 8px; }
    #projects .projects-content .project-description p {
      font-size: 11px; }
    #projects .projects-content .project-description .anchors-container {
      margin-top: 15px; }
      #projects .projects-content .project-description .anchors-container a {
        font-size: 13px; }
        #projects .projects-content .project-description .anchors-container a i {
          margin-right: 3px; }
      #projects .projects-content .project-description .anchors-container .side-note span.text, #projects .projects-content .project-description .anchors-container .side-note span.parenthesis {
        font-size: 9.5px; } }
.scrollable-gray::-webkit-scrollbar {
  width: 10px;
  height: 10px; }
.scrollable-gray::-webkit-scrollbar-corner {
  color: transparent; }
.scrollable-gray::-webkit-scrollbar-thumb {
  background-color: #505050;
  border-radius: 5px; }
  .scrollable-gray::-webkit-scrollbar-thumb:hover {
    background-color: #6e6e6e; }

#technologies {
  padding-bottom: 80px; }
  #technologies .technologies-content {
    background-color: rgba(0, 0, 0, 0.75);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 750px;
    padding: 30px;
    border-radius: 5px;
    margin: 0 auto; }
    #technologies .technologies-content .progress-bars-list {
      list-style: none;
      width: 100%;
      padding: 0;
      margin: 0; }
      #technologies .technologies-content .progress-bars-list .tech-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        color: gainsboro;
        font-family: "PT Sans", sans-serif;
        padding: 0 10px 0 5px;
        margin-top: 30px; }
        #technologies .technologies-content .progress-bars-list .tech-title h3 {
          margin: 0; }
      #technologies .technologies-content .progress-bars-list .progress-bar-container {
        display: block;
        position: relative;
        background: #505050;
        height: 10px;
        width: 100%;
        border-radius: 5px;
        margin-top: 10px; }
        #technologies .technologies-content .progress-bars-list .progress-bar-container .progress-bar {
          position: absolute;
          height: 100%;
          border-radius: 5px; }
    #technologies .technologies-content .complementary-tech {
      text-align: justify;
      word-spacing: 1.5px;
      color: gainsboro;
      font-size: 17px;
      margin: 30px 10px 0; }
      #technologies .technologies-content .complementary-tech h3 {
        display: inline;
        font-size: 20px;
        font-weight: 600;
        margin: 0 5px 0 -10px; }
      #technologies .technologies-content .complementary-tech p {
        display: inline;
        line-height: 28px;
        letter-spacing: 0.5px; }
        #technologies .technologies-content .complementary-tech p span {
          font-size: 14px; }

.calendar .day-tooltip {
  position: absolute;
  display: none;
  text-align: center;
  white-space: nowrap;
  color: #959da5;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.85);
  padding: 10px;
  border-radius: 3px;
  z-index: 99999;
  pointer-events: none; }
  .calendar .day-tooltip strong {
    color: #dfe2e5; }
  .calendar .day-tooltip.is-visible {
    display: block; }
  .calendar .day-tooltip::after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    height: 5px;
    width: 5px;
    box-sizing: border-box;
    border: 5px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.85);
    margin: 0 0 0 -5px;
    content: " "; }

/*# sourceMappingURL=index.css.map */
