*, *::before, *::after {
  // Vendor prefixes 'box-sizing'
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
}

body {
  text-align: left;
  color: white;
  background-color: black;
  font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  z-index: 1;
  min-height: 100%;
  width: 100%;
  min-width: 650px;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

h1 {
  display: block;
  font-size: 2em;

  // Vendor prefixes 'margin-block-start'
  -webkit-margin-before: 0.67em;
          margin-block-start: 0.67em;

  // Vendor prefixes 'margin-block-end'
  -webkit-margin-after: 0.67em;
          margin-block-end: 0.67em;

  // Vendor prefixes 'margin-inline-start'
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;

  // Vendor prefixes 'margin-inline-end'
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

h2 {
  color: rgba(220, 220, 220, 1);
  font-size: 26px;
}

h3 {
  font-size: 1.75rem;
}

button {
  background: transparent;
  font-family: inherit;
  border: none;
  cursor:pointer;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    box-shadow: 0px 0px 1px 1px white;
  }
}

abbr[title] {
  text-decoration: inherit;
}

code {
  font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

#profile-container {
  position: relative;
  width: 100%;

  canvas, main {
    position: absolute;
  }

  main {
    width: 100%;
    padding-bottom: 100px; // Footer height

    .section-title {
      color: white;
      font-size: 40px;

      // Vendor prefixes 'width'
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;

      padding: 20px 35px 10px;
      border-bottom: 2px solid rgba(220, 220, 220, 0.5);
      margin: 0 auto 25px;
    }

    #curriculum, #projects, #technologies {
      // Vendor prefixes 'min-height'
      min-height: -webkit-fit-content;
      min-height: -moz-fit-content;
      min-height: fit-content;

      width: 100%;
    }
  }
}

.inline-anchor {
  color: rgba(100, 255, 95, 1);
  text-decoration: none;

  &:hover .hover-underline {
    position: relative;

    &::after {
      position: absolute;
      left: 0;
      bottom: 1px;
      right: 0;
      border-bottom: 1px solid;
      content: "";
    }

    &.closer-underline::after {
      bottom: 0;
    }
  }

  &:active {
    color: rgba(0, 255, 0, 1);
  }
}
