#navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: rgba(20, 20, 20, 0.9);
  list-style: none;
  z-index: 10;
  width: 100%;
  padding: 10px 30px 10px;
  margin: 0;

  .navbar-links {
    display: flex;
    padding: 0;
    margin: 0;
  }

  li {
    position: relative;
    color: rgba(200, 200, 200, 1);
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    margin: 0 0 0 30px;
    transition: color .15s;
    cursor: pointer;

    &::before {
      position: absolute;
      bottom: -8px;
      left: -2.5px;
      content: "";
      background-color: rgba(73, 174, 255, 1);
      height: 3px;
      width: 0%;
      transition: 350ms;
    }

    &:hover {
      color: rgba(73, 174, 255, 1);

      &::before {
        width: calc(100% + 5px);
      }
    }
  }
}
