#navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.75);
  list-style: none;
  z-index: 10;
  height: 50px;
  width: 100%;
  padding: 0;
  margin: 0;

  .navbar-links {
    display: flex;
    padding: 0;
    margin: 0;
  }
}
