.pill-items {
  display: flex;
  list-style: none;
  padding: 0;
  border-bottom: 1px solid #dee2e6;
  margin: 0;

  .pill-item {
    display: block;
    color: white;
    background-color: transparent;
    text-decoration: none;
    padding: .5rem 1rem;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    margin-bottom: -1px;
    cursor: pointer;

    &.active {
      color: black;
      font-weight: 600;
      background-color: #fff;
      border-color: #dee2e6 #dee2e6 #fff;
    }
  }
}

.tab-items {
  position: relative;
  display: block;
  width: 900px;
  height: 450px;
  border: 1px solid #dee2e6;
  border-top: none;
  border-radius: 2px;

  .tab-item {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: opacity 0.15s linear;

    &.active {
      display: flex;
    }

    &.fade {
      opacity: 1;
    }
  }
}
