#projects {
  padding-bottom: 100px;

  .projects-content {
    max-width: 920px;
    padding: 20px 10px;
    border-radius: 5px;
    margin: 0 auto;

    .carousel, .single-img, .project-description {
      height: 100%;
      width: 50%;
    }

    .project-description {
      display: flex;
      flex-direction: column;
      padding: 10px 15px 20px;
      overflow-y: scroll;

      // Scrollbar width
      &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }

      // Scrollbar corner
      &::-webkit-scrollbar-corner {
        color: transparent;
      }

      // Scrollbar handle
      &::-webkit-scrollbar-thumb {
        background-color: rgba(80, 80, 80, 1);
        border-radius: 5px;

        &:hover {
          background-color: rgba(110, 110, 110, 1);
        }
      }

      h3 {
        text-align: center;
        font-size: 28px;

        span {
          color: gainsboro;
          font-size: 18px;
          font-weight: 400;
        }
      }

      h6 {
        font-size: 17px;
        margin: 15px 0 5px;

        &:first-of-type {
          margin-top: 10px;
        }
      }

      p {
        text-align: justify;
        color: gainsboro;
        font-size: 12.5px;
        margin: 0;
      }

      .anchors-container {
        margin-top: 20px;

        a {
          display: block;
          color: #64ff5f;
          font-size: 15px;
          text-decoration: none;
          width: fit-content;

          &:hover {
            text-decoration: underline;
          }

          i {
            margin-right: 4px;
          }
        }

        span {
          color: gainsboro;
          font-size: 12px;
          margin-left: 5px;
        }
      }
    }
  }
}
