#projects {
  padding-bottom: 80px;

  .projects-content {
    max-width: 920px;
    padding: 20px 10px;
    margin: 0 auto;

    .carousel, .single-img, .project-description {
      height: 100%;
      width: 50%;
    }

    .single-img {
      border-bottom-left-radius: 5px;
    }

    .project-description {
      // Vendor prefixes 'display'
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      // Vendor prefixes 'flex-direction'
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

      padding: 10px 15px;
      overflow-y: scroll;

      header > h3 {
        text-align: center;
        font-size: 28px;

        span {
          color: gainsboro;
          font-size: 0; // To remove the whitespace between the inline children elements
          font-weight: 400;

          &.text, &.parenthesis, time {
            font-size: 18px;
          }

          &.parenthesis {
            &.open {
              margin-right: 2px;
            }

            &.close {
              margin-left: 2px;
            }
          }
        }
      }

      h4 {
        font-size: 17px;
        margin: 15px 0 5px;

        &:first-of-type {
          margin-top: 10px;
        }
      }

      p {
        text-align: justify;
        color: gainsboro;
        font-size: 12.5px;
        margin: 0;
      }

      .anchors-container {
        margin-top: 20px;

        a {
          display: block;
          color: #64ff5f;
          font-size: 15px;
          text-decoration: none;

          // Vendor prefixes 'width'
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;

          &:hover {
            text-decoration: underline;
          }

          i {
            margin-right: 4px;
          }
        }

        span {
          color: gainsboro;
          font-size: 0; // To remove the whitespace between the inline children elements

          &.text, &.parenthesis {
            font-size: 11px;
          }

          &.parenthesis {
            &.open {
              margin-right: 2px;
            }

            &.close {
              margin-left: 2px;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 800px) {
  #projects .projects-content .project-description {
    padding: 8px 12px 15px;

    header > h3 {
      font-size: 22px;

      span {
        .text, .parenthesis, time {
          font-size: 14px;
        }
      }
    }

    h4 {
      font-size: 14px;
      margin-top: 12px;

      &:first-of-type {
        margin-top: 8px;
      }
    }

    p {
      font-size: 11px;
    }

    .anchors-container {
      margin-top: 15px;

      a {
        font-size: 13px;

        i {
          margin-right: 3px;
        }
      }

      span {
        &.text, &.parenthesis {
          font-size: 9.5px;
        }
      }
    }
  }
}
