#skills .section-container {
  .section-grid {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    grid-gap: 0;
    column-gap: calc(5px + 2.5%);
    padding-top: 2px;
  }

  .skills-header, .skills-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .skills-header-container, .skills-content {
    background: rgba(20, 20, 22, 0.9);
  }

  .skills-header-container {
    height: 100%;
    width: 100%;
    padding: 0 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 1px 0 2px 0 rgba(100, 100, 100, 0.5),
      -1px -1px 2px 0 rgba(100, 100, 100, 0.25);

    .skills-header {
      text-align: center;
      height: 100%;
      width: 100%;
      padding: 30px 5px 20px;
      border-bottom: 1px solid rgba(100, 100, 100, 0.8);

      i {
        color: rgba(70, 140, 255, 1);
        font-size: 50px;
        text-shadow: 1px 1px 8px rgba(35, 70, 150, 0.8);
      }

      h3 {
        color: white;
        font-size: 26px;
        margin-top: 25px;
      }

      p {
        color: rgba(235, 235, 235, 1);
        font-size: 14px;
        line-height: 170%;
        margin: 20px 0 0;
      }
    }
  }

  .skills-content {
    list-style: none;
    color: rgba(235, 235, 235, 1);
    font-size: 18px;
    width: 100%;
    padding: 25px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px 1px 2px 0 rgba(100, 100, 100, 0.5),
      -1px 1px 2px 0 rgba(100, 100, 100, 0.25);

    li {
      text-align: center;
      padding: 4px 5px;
    }

    &.tools {
      display: inline-grid;
      grid-template-columns: 1fr 1fr;
    }

    &:not(.tools) li {
      height: 22.5%;
    }
  }

  .col-1 {
    grid-column: 1;
  }

  .col-2 {
    grid-column: 2;
  }

  .col-3 {
    grid-column: 3;
  }

  .row-1 {
    grid-row: 1;
  }

  .row-2 {
    grid-row: 2;
  }
}

@media(max-width: 900px) {
  #skills .section-container {
    &.section-grid {
      column-gap: calc(2.5px + 2.5%);
    }

    .skills-header-container {
      padding: 0 10px;

      .skills-header {
        padding: 25px 5px 15px;

        i {
          font-size: 45px;
        }

        h3 {
          font-size: 22px;
          margin-top: 20px;
        }

        p {
          font-size: 11px;
          margin: 14px 0 0;
        }
      }
    }

    .skills-content {
      font-size: 14px;
      padding: 18px 8px;

      li {
        padding: 3px 4px;
      }
    }
  }
}
