#technologies {
  min-height: fit-content;
  width: 100%;
  padding-bottom: 60px;

  .technologies-content {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.75);
    width: fit-content;
    max-width: 750px;
    min-width: 650px;
    padding: 20px 30px 30px;
    border-radius: 5px;
    margin: 0 auto;

    li {
      .tech-title {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        color: rgba(220, 220, 220, 1);
        font-family: "PT Sans", sans-serif;
        padding: 0 10px 0 5px;
        margin-top: 30px;

        h3 {
          margin: 0;
        }
      }

      .progress-bar-container {
        display: block;
        position: relative;
        background: rgba(80, 80, 80, 1);
        height: 10px;
        width: 100%;
        border-radius: 5px;
        margin-top: 10px;

        .progress-bar {
          position: absolute;
          height: 100%;
          border-radius: 5px;
        }
      }
    }

    .complementary-tech {
      text-align: justify;
      word-spacing: 1.5px;
      color: gainsboro;
      font-size: 18px;
      margin: 30px 0 0 10px;

      h4 {
        display: inline;
        font-size: 20px;
        font-weight: 600;
        margin: 0 5px 0 -10px;
      }

      p {
        display: inline;
        letter-spacing: 0.5px;

        span {
          font-size: 14px;
        }
      }
    }
  }
}
