#technologies {
  padding-bottom: 80px;

  .technologies-content {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.75);

    // Vendor prefixes 'width'
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    max-width: 750px;
    padding: 30px;
    border-radius: 5px;
    margin: 0 auto;

    li {
      .tech-title {
        // Vendor prefixes 'display'
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        // Vendor prefixes 'align-items'
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;

        // Vendor prefixes 'justify-content'
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        color: rgba(220, 220, 220, 1);
        font-family: "PT Sans", sans-serif;
        padding: 0 10px 0 5px;
        margin-top: 30px;

        h3 {
          margin: 0;
        }
      }

      .progress-bar-container {
        display: block;
        position: relative;
        background: rgba(80, 80, 80, 1);
        height: 10px;
        width: 100%;
        border-radius: 5px;
        margin-top: 10px;

        .progress-bar {
          position: absolute;
          height: 100%;
          border-radius: 5px;
        }
      }
    }

    .complementary-tech {
      text-align: justify;
      word-spacing: 1.5px;
      color: gainsboro;
      font-size: 17px;
      margin: 30px 10px 0;

      h4 {
        display: inline;
        font-size: 20px;
        font-weight: 600;
        margin: 0 5px 0 -10px;
      }

      p {
        display: inline;
        line-height: 28px;
        letter-spacing: 0.5px;

        span {
          font-size: 14px;
        }
      }
    }
  }
}
